<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leny Imoveis</title>
</head>

<body>
    <header>
        <div class="logo">
            <h1 id="logo-image"><img src="../../assets/img/LogoImobiliaria.jpg" alt=""></h1>
            <p style="text-align: center; color: black;"><strong>&#9743; Telefone: 40028922</strong></p>
            <p id="creci"><img src="../../assets/img/banner_banner_creci-sp_peq.jpg" alt=""><br><em>CRECI: </em>84543</p>
            <p id="linkCadastroImovel">
                <a routerLink="/create-imovel" routerLinkActive="active"><strong> Cadastre seu imovel</strong></a>
            </p>
        </div>
    </header>
</body>

</html>